<div class="drawer-page">
  <%= render :partial => 'welcome/header' %>
  <%= render :partial => 'layouts/spacing' %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to reminder_path do %>
          <%= image_tag('Reminder.png', class: 'drawer-icons img-responsive', alt: 'reminder icon') %>
          <h4 class="text-center">Reminder</h4>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= link_to scorer_path do %>
          <%= image_tag('Scorer.png', class: 'drawer-icons img-responsive', alt: 'scorer icon') %>
          <h4 class="text-center">Scorer</h4>
        <% end %>
      </div>
      <div class="col-sm-4">
      <%= link_to scheduler_path do %>
        <%= image_tag('Scheduler.png', class: 'drawer-icons img-responsive', alt: "scheduler icon") %>
        <h4 class="text-center">Scheduler</h4>
      <% end %>
    </div>
    </div>
  </div>
</div>
<%= render partial: "welcome/footer", locals: { position: 'footer-short'} %>
