<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand navigation-title" href="#">
    <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
  </a>
  <span class="navbar-brand navigation-title" href="#"><%= link_to "Awanafy", root_path %></span>
  <span class="navbar-brand navigation-title" href="#"><%= link_to "Features", root_path(anchor: "feature-1")%></span>

  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-brand navigation-title pull-right") %>
    <%= link_to(current_user.email, edit_user_registration_path, class: "navbar-brand pull-right") %>
    <%= link_to "Scheduler", app_path, class: "navbar-brand navigation-title pull-right" %>
  <% else %>
    <span class="navbar-brand navigation-title pull-right"><%= link_to "Login", new_user_session_path %></span>
  <% end %>
  <a class="navbar-brand pull-right hamburger-menu" data-toggle="collapse" data-target="#main-sidebar-container" aria-controls="main-sidebar-container" aria-expanded="false" href="#">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </a>
</nav>


<!-- sidebar -->
<div id="main-sidebar-container" class="collapse width pull-right">
  <div class="main-sidebar">
    <div class="row">
      <div class="col-xs-12">
        <span class="navbar-brand sidebar-texts" href="#"><%= link_to "Awanafy", root_path %></span>
        <a class="navbar-brand sidebar-texts" href="#">Features</a>
        <span class="navbar-brand sidebar-texts"><%= link_to "Login", new_user_session_path %></span>
      </div>
    </div>
  </div>
</div>
<!-- sidebar end -->
