<%= render 'header' %>
<div class="container">

  <%= render 'main_content' %>
  <hr />
  <%= render 'feature_one' %>
  <%= render 'feature_two' %>
  <%= render 'feature_three' %>

</div>
<%= render "footer" %>
