<!DOCTYPE html>
<html>
  <head>
    <title>Awanafy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Open+Sans", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>

    <div class="helper-button"></div>
    <% flash.each do |type, msg| %>
      <% if type == "notice" %>
        <div class="alert alert-success box-overall">
      <% elsif type == "alert" %>
        <div class="alert alert-danger box-overall">
      <% else %>
        <div class='alert box-overall alert-<%= "#{type}" %>'>
      <% end %>
        <a href="#" class="close color-white" data-dismiss="alert">&#215;</a>
        <span class="color-white"><%= msg %></span>
    <% end %>

  </body>
</html>
